<view-title>Usman Saleem - Blog - Page {{bigCurrentPage}}</view-title>
<meta view-head property="og:url" content="{{$location.absUrl()}}"/>
<meta view-head property="og:type" content="website"/>
<meta view-head property="og:title" content="Page {{bigCurrentPage}} - Usman Saleem - Blog"/>
<meta view-head property="og:description" content="Things I learn, observe and tryout."/>
<meta view-head property="og:image" content="https://usmans.info/images/usman_fb.jpg"/>
<div class="jumbotron" ng-show="showJumbotron()">
    <div class="container">
        <h1>Usman Saleem</h1>
        <p>An IT professional specialising in enterprise development (Java, Kotlin, JEE, Spring), DevOps/containerization/docker
            with bits of Angular and the likes. Blogging about things I learn, observe and tryout ...
        </p>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1>Latest Articles ...</h1>
    </div>
    <!-- Blog -->
    <section ng-repeat="blogItem in blogItems">
        <div class="media">
            <div class="media-body">
                <h3 class="media-heading"><a href="/blog/{{blogItem.id}}">{{blogItem.title}}</a></h3>
                <article class="blog-body" id="blogID_{{blogItem.id}}">
                    <div ng-bind-html=blogItem.description></div>
                </article>
            </div>
            <hr/>
        </div>
    </section>

    <div class="text-center">
        <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" num-pages="numPages"
            class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;"
            next-text="&rsaquo;" ng-change="pageChanged()"></ul>
    </div>
</div>

